@mixin flex($aligh, $justify) {
  display: flex;
  align-items: $aligh;
  justify-content: $justify;
}

li {
  list-style: none;
}
a {
  text-decoration: none !important;
}

.navbar {
  background-color: #344955;
  padding: 1rem 4rem !important;

  ul {
    margin: 0;
    @include flex(flex-start, none);
    gap: 2rem;

    li a {
      color: #fff;
    }
  }

  .active-user {
    p {
      margin: 0;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
    }
  }
}

.create-user {
  max-width: 350px;
  width: 100%;
  box-shadow: 0 0 3px gray;
  padding: 1rem;
  margin: 1rem auto;

  form {
    fieldset {
      @include flex(flex-start, none);
      flex-direction: column;
      padding-bottom: 1rem;
      position: relative;

      input {
        width: 100%;
      }

      .form_error {
        position: absolute;
        bottom: 8px;
        right: 10px;
        color: red;
        font-size: 12px;
        margin: 0;
        padding: 0 5px;
        background-color: #fff;
      }
    }

    button {
      border: 1px solid #344955;
      color: #344955;
      padding: 0.5rem 2rem;
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      @include flex(none, flex-end);
      margin-left: auto;

      &:hover {
        color: #fff;
        background-color: #344955;
      }
    }
  }
}

.all-users {
  max-width: 800px;
  width: 100%;
  margin: 3rem auto;

  input {
    margin-left: auto;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #dddddd;
    @include flex(none, flex-end);
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd6f;
    }
  }
}
// all users data-table
.user-name {
  text-transform: capitalize;
}
.user-email {
  text-transform: lowercase;
}
